@using MVCOnlineTicariOtomasyon.Models.Class
@model List<SaleTransaction>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><h4>Satış Detay</h4> </li>
</ol>

<br />

<table class="table table-condensed">
    <tr>

        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Müşteri</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
      


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TransactionID</td>
            <td>@item.Product.ProductName</td>

            <td>@item.Current.CurrentName @item.Current.CurrentSurname</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@item.TotalAmount</td>
            <td>@item.SaleDate</td>
            
        </tr>
    }


</table>
<button class="btn btn-default" style="background-color:deepskyblue">YAZDIR</button>
