@using MVCOnlineTicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Ad Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.EmployeeID
            </td>
            <td>@item.EmployeeName @item.EmployeeSurname</td>
            <td>@item.EmployeeImage</td>
            <td>@item.Department.DeparmentName</td>
            <td><a href="~/Personel/PersonelGetir/@item.EmployeeID" class="btn btn-danger">Güncelle</a></td>
            <td><a href="~/Department/DepartmanPersonelSatis/@item.EmployeeID" class="btn btn-danger">Satışlar</a></td>
          
        </tr>
    }

</table>
<a href="~/Personel/PersonelEkle/" class="btn btn-outline-primary">Personel Ekle</a>

